@font-face {
  font-family: 'RoundedMplus1c';
  src: url("fonts/RoundedMplus1c-ExtraBold.eot");
  src: url("fonts/RoundedMplus1c-ExtraBold.woff2") format("woff2"), url("fonts/RoundedMplus1c-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/RoundedMplus1c-ExtraBold.woff") format("woff"), url("fonts/RoundedMplus1c-ExtraBold.ttf") format("truetype"), url("fonts/RoundedMplus1c-ExtraBold.svg#roundedmplus1c") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'RoundedMplus1c';
  src: url("fonts/RoundedMplus1c-Regular.eot");
  src: url("fonts/RoundedMplus1c-Regular.woff2") format("woff2"), url("fonts/RoundedMplus1c-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/RoundedMplus1c-Regular.woff") format("woff"), url("fonts/RoundedMplus1c-Regular.ttf") format("truetype"), url("fonts/RoundedMplus1c-Regular.svg#roundedmplus1c") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-Bold.eot");
  src: url("fonts/Raleway-Bold.woff2") format("woff2"), url("fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Bold.woff") format("woff"), url("fonts/Raleway-Bold.ttf") format("truetype"), url("fonts/Raleway-Bold.svg#raleway") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.woff2") format("woff2"), url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Medium.woff") format("woff"), url("fonts/Raleway-Medium.ttf") format("truetype"), url("fonts/Raleway-Medium.svg#raleway") format("svg");
  font-weight: 500;
  font-style: normal; }

button {
  border: none;
  outline: none; }

.dish-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  z-index: 11;
  display: none; }
  .dish-modal.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.modal-content {
  width: 100%;
  max-width: 1400px;
  padding: 40px 30px 40px 40px;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 10px;
  position: relative;
  height: 800px; }

.exit-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer; }

.modal-dish {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.modal-img {
  width: 620px;
  height: 390px;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-img img {
    width: 624px; }

.modal-dish-info {
  margin-left: 80px;
  max-width: 510px; }

.modal-title {
  color: #171D33;
  font-size: 40px;
  font-weight: 800; }

.modal-weight {
  font-size: 18px;
  color: #848484;
  font-weight: 400;
  margin-top: 20px; }

.modal-compound {
  font-family: "Raleway", Arial;
  color: #848484;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px; }

.modal-price {
  margin-top: 25px;
  font-size: 39px;
  color: #171D33;
  font-weight: 800; }
  .modal-price .value {
    font-family: "Raleway", Arial;
    font-weight: 600; }

.modal-extra {
  margin-top: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .modal-extra ul {
    list-style: none;
    padding: 0; }
    .modal-extra ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 16px;
      position: relative; }
      .modal-extra ul li::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #171D33;
        left: 0;
        bottom: -8px; }
  .modal-extra .right {
    margin-left: 75px; }

.modal-extra-title {
  color: #171D33;
  font-weight: 800; }

.option-title {
  color: #585656;
  font-size: 18px; }

.modal-extra-text {
  color: #585656;
  font-family: "Raleway", Arial;
  font-weight: 400;
  margin-top: 5px; }

.recommend-title {
  font-size: 32px;
  color: #171D33;
  font-weight: 800; }

.recommend-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.recommend-item {
  width: 225px;
  height: 250px;
  border-radius: 18px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25); }

.rec-item-img {
  height: 170px;
  overflow: hidden;
  border-radius: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .rec-item-img img {
    width: 100%; }

.rec-item-content {
  padding: 10px 15px 15px 15px; }

.rec-item-title {
  font-size: 15px;
  color: #171D33;
  font-weight: 800; }

.rec-item-weight {
  font-size: 11px;
  color: #848484; }

.price-outher {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.rec-item-price {
  color: #fff;
  background-color: #F17228;
  font-size: 13px;
  font-weight: 800;
  padding: 2px 9px;
  border-radius: 7px;
  display: inline-block; }
  .rec-item-price .value {
    font-family: "Raleway", Arial;
    font-weight: 600; }

.prev-btn {
  background-color: #F17228;
  padding: 10px 20px;
  color: #fff;
  font-weight: 800;
  border-radius: 7px;
  font-family: "Raleway", Arial;
  cursor: pointer;
  display: none;
  font-size: 16px; }

.swiper-container-rec {
  position: relative;
  width: 1250px;
  height: 300px;
  overflow: hidden; }

.swiper-button-prev-rec {
  background-color: #F17228;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .swiper-button-prev-rec::after {
    display: none; }
  .swiper-button-prev-rec.swiper-button-disabled {
    background-color: #F7AA7E; }

.swiper-button-next-rec {
  background-color: #F17228;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .swiper-button-next-rec svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .swiper-button-next-rec::after {
    display: none; }
  .swiper-button-next-rec.swiper-button-disabled {
    background-color: #F7AA7E; }

body {
  font-family: "RoundedMplus1c", Arial;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.header__inner {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__inner a {
    font-weight: 800;
    font-size: 20px;
    color: #000; }

.logo img {
  max-height: 55px; }

.header-slider {
  margin-top: 35px;
  background-color: rgba(255, 255, 255, 0.5); }

.category-slider {
  position: relative; }

.swiper-button-prev {
  left: 0;
  color: #595959; }

.swiper-button-next {
  right: 0;
  color: #595959; }

.swiper-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 150px;
  padding: 0 20px; }

.swiper-wrapper {
  padding: 30px 0; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0; }
  .sticky .swiper-container {
    height: 130px; }
  .sticky .swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px; }

.swiper-slide a {
  display: block; }

.category-item {
  width: 100px; }

.item-img {
  width: 100px;
  height: 78px;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }
  .item-img img {
    width: 85px; }

.item-title {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 800;
  color: #595959;
  line-height: 1.1; }

.category {
  padding-top: 300px; }

.category-title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  color: #171D33; }

.dish-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 50px; }

.dish-item {
  width: 380px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  cursor: pointer; }

.dish-img {
  border-radius: 18px;
  height: 250px;
  overflow: hidden; }
  .dish-img img {
    height: 250px; }

.dish-content {
  padding: 18px 22px; }

.dish-title {
  font-size: 20px;
  color: #171D33;
  font-weight: 800;
  text-transform: uppercase; }

.dish-weight {
  font-size: 12px;
  font-weight: 400;
  color: #848484;
  margin-top: 5px; }

.dish-compound {
  font-size: 14px;
  font-family: "Raleway", Arial;
  color: #848484;
  margin-top: 10px; }

.dish-price {
  margin-top: 10px;
  color: #fff;
  background-color: #F17228;
  font-size: 18px;
  font-weight: 800;
  padding: 5px 13px;
  display: inline-block;
  border-radius: 10px; }
  .dish-price .value {
    font-family: "Raleway", Arial;
    font-weight: 600; }

.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 1880px) {
  .swiper-button-next {
    right: -40px; }
  .swiper-button-prev {
    left: -40px; }
  .swiper-container {
    width: 1600px; } }

@media (max-width: 1670px) {
  .dish-items {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px; } }

@media (max-width: 1466px) {
  .swiper-button-prev-rec {
    left: -20px; }
  .swiper-button-next-rec {
    right: -20px; } }

@media (max-width: 1114px) {
  .modal-dish-info {
    margin-left: 26px; } }

@media (max-width: 1070px) {
  .prev-btn {
    display: block;
    margin-top: 30px; }
  .modal-dish {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .modal-img {
    width: 500px;
    height: auto;
    margin: 0 auto; }
    .modal-img img {
      width: 500px; }
  .modal-content {
    height: 1290px; }
  .modal-dish-info {
    margin-left: 0;
    margin-top: 50px; }
  .modal-recommend {
    margin-top: 40px; } }

@media (max-width: 1270px) {
  .dish-items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    justify-items: center; } }

@media (max-width: 822px) {
  .container {
    margin: 0 100px; }
  .dish-items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    justify-items: center; }
  .dish-item {
    width: 267px; }
  .dish-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 220px; }
    .dish-img img {
      height: 220px; } }

@media (max-width: 640px) {
  .exit-button {
    top: 10px;
    right: 10px; } }

@media (max-width: 600px) {
  .swiper-container-rec {
    width: 480px; }
  .container {
    margin: 0 25px; }
  .dish-items {
    display: block; }
  .dish-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 30px;
    max-width: 570px; }
  .dish-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 244px;
    height: 220px; }
  .dish-content {
    padding: 0;
    padding-left: 15px;
    width: 303px; }
  .swiper-button-next {
    right: -20px; }
  .swiper-button-prev {
    left: -20px; }
  .swiper-button-prev-rec {
    width: 50px;
    height: 50px;
    left: -30px; }
  .swiper-button-next-rec {
    width: 50px;
    height: 50px;
    right: -30px; } }

@media (max-width: 598px) {
  .swiper-container-rec {
    width: auto; } }

@media (max-width: 571px) {
  .container {
    width: 500px; }
  .dish-content {
    padding-right: 0; }
  .item-img {
    width: 67px;
    height: 54px; }
    .item-img img {
      width: 57px; }
  .item-title {
    font-size: 10px; }
  .category-item {
    width: 67px; }
  .sticky .swiper-container {
    height: 95px; }
  .category {
    padding-top: 225px; }
  .category-title {
    font-size: 40px; }
  .recommend-item {
    width: 208px; }
  .rec-item-img {
    height: 150px; }
  .swiper-button-prev-rec {
    left: 50px; }
  .swiper-button-next-rec {
    right: 50px; }
  .modal-img {
    width: 400px; }
    .modal-img img {
      width: 400px; } }

@media (max-width: 550px) {
  .modal-extra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal-extra .right {
      margin-left: 0;
      margin-top: 40px; } }

@media (max-width: 525px) {
  .container {
    width: 400px; }
  .dish-img {
    width: 180px;
    height: 160px; }
    .dish-img img {
      height: 160px; }
  .dish-content {
    width: 230px; }
  .recommend-title {
    font-size: 25px; }
  .modal-title {
    font-size: 25px; }
  .modal-compound {
    font-size: 14px; }
  .modal-price {
    font-size: 25px; }
  .swiper-button-prev-rec {
    left: 20px; }
  .swiper-button-next-rec {
    right: 20px; } }

@media (max-width: 476px) {
  .modal-img {
    width: 300px; }
    .modal-img img {
      width: 300px; }
  .swiper-button-prev-rec {
    left: 5px;
    width: 40px;
    height: 40px; }
  .swiper-button-next-rec {
    right: 5px;
    width: 40px;
    height: 40px; } }

@media (max-width: 430px) {
  .container {
    margin: 0;
    padding: 0 10px; }
  .dish-img {
    height: 128px; }
    .dish-img img {
      height: 128px; }
  .category-title {
    font-size: 28px; }
  .dish-weight {
    font-size: 10px;
    margin-top: 5px; }
  .dish-compound {
    font-size: 8px;
    margin-top: 5px; }
  .dish-price {
    font-size: 10px;
    padding: 4px 12px; }
  .dish-title {
    font-size: 11px; }
  .dish-content {
    width: 155px;
    padding-left: 6px; }
  .dish-item {
    max-width: 300px; }
  .dish-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: normal; }
  .swiper-button-next {
    right: -10px; }
  .swiper-button-prev {
    left: -10px; }
  .swiper-container {
    height: 120px;
    padding-left: 10px; }
  .logo img {
    max-height: 40px; }
  .header__inner a {
    font-size: 15px; }
  .recommend-title {
    font-size: 20px; }
  .swiper-button-prev-rec {
    left: -15px; }
  .swiper-button-next-rec {
    right: -15px; } }

@media (max-width: 376px) {
  .modal-img {
    width: 250px; }
    .modal-img img {
      width: 250px; }
  .swiper-button-prev-rec {
    left: 5px; }
  .swiper-button-next-rec {
    right: 5px; }
  .modal-content {
    padding: 50px 10px; }
  .modal-content {
    height: 1172px; } }
