@font-face {
	font-family: 'RoundedMplus1c';
	src: url('fonts/RoundedMplus1c-ExtraBold.eot');
	src: url('fonts/RoundedMplus1c-ExtraBold.woff2') format('woff2'),
		 url('fonts/RoundedMplus1c-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RoundedMplus1c-ExtraBold.woff') format('woff'),
		 url('fonts/RoundedMplus1c-ExtraBold.ttf') format('truetype'),
		 url('fonts/RoundedMplus1c-ExtraBold.svg#roundedmplus1c') format('svg');
	font-weight: 800;
	font-style: normal;
}
